.App {
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.plan-container {
  display: flex;
  justify-content: center;
}

.price-plan {
  background-color: white;
  margin: 15px;
  padding: 20px;
}

h2 {
  font-size: larger;
}
button:hover {
  background-color: lightgreen;
}
